@import '/src/assets/css/buttons.css';


html{
    cursor: pointer;
  }
  body{
    background-color: transparent;
    overflow:hidden;
    height: 100%;
    }

    
  .container-wrapper{
 margin: auto;
 display: block;
    }



    .container .renders {
         width: 88%;
margin-left: 7%;
    }



    .btn-group {
        position: fixed; z-index:1000; margin-top:-70px;   pointer-events: none; margin-left:45%;
        }

  
        .control{
            width:25px;
            height:25px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            margin-left:5px;
            margin-right:5px;
            cursor:pointer;
            -webkit-transition: background-image 0.7s; /* Safari */
            transition: background-image 0.7s;
        }
