@import '/src/assets/css/buttons.css';


html{
    cursor: pointer;
  }
  body{
    background-color: transparent;
    overflow:hidden;
    height: 100%;
    }

    
  .container-wrapper{
 margin: auto;
 display: block;
    }



    .container .renders {
        width: 88%;
margin-left: 7%;
    }



    .btn-group {
        position: fixed; z-index:1000; margin-top:-70px;   pointer-events: none; margin-left:45%;
        }

  
